<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DOPE USEC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- Favicons -->
  <link src="/assets/img/favicon.png" rel="icon">
  <link src="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link src="/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link src="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link src="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link src="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link src="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link src="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link src="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link src="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link src="/assets/css/style.css" rel="stylesheet">
  <script src="/assets/js/main.js"></script>
  <!-- =======================================================
  * Template Name: Gp - v4.3.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">

    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="d-flex navbar order-last order-lg-0">
        <img id="logo" width="8%" height="8%" src="./assets/img/USECWHITE.png">
        <ul>
          <li><a class="nav-link scrollto " (click)="moveToTop()">Home</a></li>
          <li><a class="nav-link scrollto"   (click)="moveToAbout()" routerLinkActive="router-link-active">Über</a></li>
          <li><a class="nav-link scrollto"  (click)="moveToClips()" routerLinkActive="router-link-active">Clips</a></li>
          <li><a class="nav-link scrollto"  (click)="moveToEvents()" routerLinkActive="router-link-active">Events</a></li>

        </ul>

        <div class="mobile-nav-toggle">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-list mobile-nav-toggle"></i></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li><a class="nav-link scrollto" style="color: black;" (click)="moveToTop()">Home</a></li>
                <li><a class="nav-link scrollto"  style="color: black;" (click)="moveToAbout()" routerLinkActive="router-link-active">Über</a></li>
                <li><a class="nav-link scrollto" style="color: black;" (click)="moveToClips()" routerLinkActive="router-link-active">Clips</a></li>
                <li><a class="nav-link scrollto"  style="color: black;"[routerLink]="['events']" routerLinkActive="router-link-active">Events</a></li>
              </div>
            </div>
          </div>
          </div>
          <li class="hide" id="scroll">
            <div id='search'  class='search-box'><button class='btn-search blop'><i class='fas fa-search'></i></button><input style="color: aliceblue;" [(ngModel)]="term" (ngModelChange)='newTerm()' class='input-search'  type='text' name='term' id='term'></div>
          </li>

      </nav><!-- .navbar -->



    </div>

  </header><!-- End Header -->
