 <!-- Navigation-->
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="color: lightcoral"  href="#page-top">DOPE_USEC</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" style="color:lightcoral" [routerLink]="['#clips']" routerLinkActive="router-link-active">About</a></li>
                <li class="nav-item"><a class="nav-link" style="color: lightcoral" [routerLink]="['#clips']" routerLinkActive="router-link-active">Clips</a></li>
                <li class="nav-item"><a class="nav-link" style="color: lightcoral" [routerLink]="['events']" routerLinkActive="router-link-active">Events</a></li>
            </ul>
        </div>
    </div>
</nav>
