<!-- update event modal -->

<div class="modal-header card" style="padding: 10px;">
  <div>
    <h3 style="margin-left: 35%;"> Update Event </h3>
    <form [formGroup]="updateEvent" (ngSubmit) = "onUpdateSubmit(event._id)">
        <div  class="d-flex">
          <div style="width: 50%;" class="form-group">
            <label class="d-flex">NAME<h4 style="color: red;"> *</h4></label>
            <input [(ngModel)]="event.name" formControlName="name"  type="text" class ="form-control" id = "name" name = "name">
            <div *ngIf="(getControl.name.touched || isSubmitted) && getControl.name.invalid" class="text-danger">
              <div *ngIf="getControl.name.errors?.required">Name is required.</div>
              <div *ngIf="getControl.name.errors?.minlength">Minimum 4 character are required.</div>
            </div>
        </div>
        <div style="width: 50%;" class="form-group">
          <label class="d-flex">TIME<h4 style="color: red;"> *</h4></label>
          <input [(ngModel)]="event.time" formControlName="time"  type="datetime-local" class ="form-control" id = "time"
               name = "time" >
               <div *ngIf="(getControl.time.touched || isSubmitted) && getControl.time.invalid" class="text-danger">
                <div *ngIf="getControl.time.errors?.required">Time is required.</div>
                <div *ngIf="getControl.time.errors?.minlength">Minimum 4 character are required.</div>
              </div>
        </div>
      </div>
        <div class="form-group">
          <label class="d-flex">PHOTO<h4 style="color: red;"> *</h4></label>
          <input [(ngModel)]="event.photo" formControlName="photo"  type="text" class ="form-control" id = "photo"
              name = "photo" >
              <div *ngIf="(getControl.photo.touched || isSubmitted) && getControl.photo.errors" class="text-danger">
                <div *ngIf="getControl.photo.errors?.required">Photo is required.</div>
                <div *ngIf="getControl.photo.errors?.minlength">Minimum 4 character are required.</div>
              </div>
      </div>
        <div class="form-group">
          <label class="d-flex">LINK</label>
          <input [(ngModel)]="event.link" formControlName="link"  type="text" class ="form-control" id = "link"
              name = "link" >
      </div>
        <div class="form-group">
            <label class="d-flex"> DESCRIPTION<h4 style="color: red;"> *</h4></label>
            <textarea [(ngModel)]="event.description" formControlName="description"  type="text" class ="form-control" id = "description"
                 name = "description">
                 </textarea>
                 <div *ngIf="(getControl.description.touched || isSubmitted) && getControl.description.invalid" class="text-danger">
                  <div *ngIf="getControl.description.errors?.required">Description is required.</div>
                  <div *ngIf="getControl.description.errors?.minlength">Minimum 4 character are required.</div>
                </div>
        </div>
      <div class="form-group">
      <label class="d-flex">RULES<h4 style="color: red;"> *</h4></label>
      <textarea [(ngModel)]="event.rules" formControlName="rules"  type="text" class ="form-control" id = "rules"
          name = "rules" >
      </textarea>
          <div *ngIf="(getControl.rules.touched || isSubmitted) && getControl.rules.invalid" class="text-danger">
            <div *ngIf="getControl.rules.errors?.required">Rules is required.</div>
            <div *ngIf="getControl.rules.errors?.minlength">Minimum 4 character are required.</div>
          </div>
        </div>
        <div class="container">
        <div class="modal-footer row">
          <button  style="width: 30%;margin-right: 30%;" class = "btn btn-success col" (click)="activeModal.close('Close click')" type ="submit"    routerLinkActive="active">Add Event</button>
          <button  style="width: 30%;" type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
      </div>
    </form>
    </div>




<!-- <div class="modal-header card" style="padding: 10px;">
  <div>
    <h3> Add Event </h3>
    <form [formGroup]="updateEvent" (ngSubmit) = "onUpdateSubmit(event._id)">
        <div class="form-group">
            <label>NAME</label>
            <input [(ngModel)]="event.name" formControlName="name"  type="text" class ="form-control" id = "name" name = "name">
            <div *ngIf="(getControl.name.touched || isSubmitted) && getControl.name.invalid" class="text-danger">
              <div *ngIf="getControl.name.errors?.required">Name is required.</div>
              <div *ngIf="getControl.name.errors?.minlength">Minimum 4 character are required.</div>
            </div>
        </div>
        <div class="form-group">
            <label> DESCRIPTION</label>
            <input  [(ngModel)]="event.description" formControlName="description"  type="text" class ="form-control" id = "description"
                 name = "description">
                 <div *ngIf="(getControl.description.touched || isSubmitted) && getControl.description.invalid" class="text-danger">
                  <div *ngIf="getControl.description.errors?.required">Description is required.</div>
                  <div *ngIf="getControl.description.errors?.minlength">Minimum 4 character are required.</div>
                </div>
        </div>
        <div>
          <label>TIME</label>
          <input [(ngModel)]="event.time" formControlName="time"  type="datetime-local" class ="form-control" id = "time"
               name = "time" >
               <div *ngIf="(getControl.time.touched || isSubmitted) && getControl.time.invalid" class="text-danger">
                <div *ngIf="getControl.time.errors?.required">Time is required.</div>
                <div *ngIf="getControl.time.errors?.minlength">Minimum 4 character are required.</div>
              </div>
        </div>
        <div class="form-group">
            <label>LINK</label>
            <input [(ngModel)]="event.link" formControlName="link"  type="text" class ="form-control" id = "link"
                name = "link" >
        </div>
        <div class="form-group">
          <label>PHOTO</label>
          <input [(ngModel)]="event.photo" formControlName="photo"  type="text" class ="form-control" id = "photo"
              name = "photo" >
              <div *ngIf="(getControl.photo.touched || isSubmitted) && getControl.photo.errors" class="text-danger">
                <div *ngIf="getControl.photo.errors?.required">Photo is required.</div>
                <div *ngIf="getControl.photo.errors?.minlength">Minimum 4 character are required.</div>
              </div>
      </div>
      <div class="form-group">
      <label>RULES</label>
      <input [(ngModel)]="event.rules" formControlName="rules"  type="text" class ="form-control" id = "rules"
          name = "rules" >
          <div *ngIf="(getControl.rules.touched || isSubmitted) && getControl.rules.invalid" class="text-danger">
            <div *ngIf="getControl.rules.errors?.required">Rules is required.</div>
            <div *ngIf="getControl.rules.errors?.minlength">Minimum 4 character are required.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button class = "btn btn-success" type ="submit" (click)="activeModal.close('Close click')"   routerLinkActive="active">Update</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </form>
    </div> -->
