<!-- update clip modal -->

<div class="modal-header card" style="padding: 10px;">
  <div>
    <h3> Update Clip </h3>
    <form [formGroup]="updateClip" (ngSubmit) = "onUpdateSubmit(clip._id)">
        <div class="form-group">
            <label>NAME</label>
            <input formControlName="name" [(ngModel)]="clip.name" type="text" class ="form-control" id = "firstName" name = "name" required>
        </div>
        <div *ngIf="(getControl.name.touched || isSubmitted) && getControl.name.invalid" class="text-danger">
          <div *ngIf="getControl.name.errors?.required">Name is required.</div>
          <div *ngIf="getControl.name.errors?.minlength">Minimum 4 character are required.</div>
        </div>
        <div class="form-group">
            <label> DESCRIPTION</label>
            <input formControlName="description"  [(ngModel)]="clip.description" type="text" class ="form-control" id = "description"
                 name = "description" required>
        </div>
        <div *ngIf="(getControl.description.touched || isSubmitted) && getControl.description.invalid" class="text-danger">
          <div *ngIf="getControl.description.errors?.required">Description is required.</div>
          <div *ngIf="getControl.description.errors?.minlength">Minimum 4 character are required.</div>
        </div>
        <div class="form-group">
            <label>LINK</label>
            <input formControlName="link" [(ngModel)]="clip.link" type="text" class ="form-control" id = "link"
                name = "link" required>
        </div>
        <div *ngIf="(getControl.link.touched || isSubmitted) && getControl.link.invalid" class="text-danger">
          <div *ngIf="getControl.link.errors?.required">Link is required.</div>
          <div *ngIf="getControl.link.errors?.minlength">Minimum 4 character are required.</div>
        </div>
        <div class="modal-footer">
          <button class = "btn btn-success" type ="submit" (click)="activeModal.close('Close click')" routerLinkActive="active" type="submit">Update</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </form>
    </div>


