
  <div class="modal-header card" style="padding: 10x;">
    <div>
      <h3> Update Clip </h3>
      <form >
          <div class="form-group">
              <label> name</label>
              <input type="text" class ="form-control" id = "firstName"
                  [(ngModel)] = "clip.name" name = "name" required>
          </div>
          <div class="form-group">
              <label> description</label>
              <input type="text" class ="form-control" id = "description"
                  [(ngModel)] = "clip.description" name = "description" required>
          </div>
          <div class="form-group">
              <label> link</label>
              <input type="text" class ="form-control" id = "link"
                  [(ngModel)] = "clip.link" name = "link" required>
          </div>
          <div class="modal-footer">
            <button class = "btn btn-success" type ="submit"  (click)="onUpdateSubmit(clip._id)" [routerLink]="['admin/events']"  routerLinkActive="active">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          </div>
      </form>

      </div>

