<!-- delete clip content -->

<!-- nav -->
<ul style="margin-left: 1%;" class="list-group">
  <br>
  <br>
    <li><a class="btn"  href="
      admin/clips">Clips</a></li>
      <br>
    <li><a class="btn"  href="admin/events">Events</a></li>
    <br>
    <li><a  class="mx-2 btn btn-success"  (click)='back()'>Back</a></li>
    <li style="margin-top: 320%;">
      <a  class="btn btn-danger" *ngIf="authService.isLoggedIn" routerLinkActive="active" (click)="logout()">
        logout</a>
    </li>
</ul>
<!-- content -->
<div class="container bootdey">
  <div class="col-md-12">
  <section class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="pro-img-details">
                  <h2 class="pro-d-title">
                    {{clip.name}}
                  </h2>
                  <br>
                  <iframe style="margin-left: 32%;margin-top: 10%;" [src]="clip.link | asyncpipe" height="400" width="700" allowfullscreen="true"></iframe>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <p>
                    {{clip.description}}
                </p>
            </div>
        </div>
        <br>
        <br>
    </section>
    </div>
    </div>
