<!-- delete clip content -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- nav -->
<div class="sidebar" id="sidebar">
  <a class="btn" style="background-color: lightblue;" [routerLink]="['']"><i class="fas fa-home"></i></a>
  <a class="btn"  href="admin/clips">Clips</a>
      <a class="btn"  href="admin/events">Events</a>
      <a  class="btn btn-success"  (click)='back()'>Back</a>
      <a id="logout" class="btn btn-danger" *ngIf="authService.isLoggedIn" routerLinkActive="active" (click)="logout()">logout</a>
</div>
<!-- <ul style="margin-left: 1%;" class="list-group">
  <br>
  <br>
    <li><a class="btn"  href="
      admin/clips">Clips</a></li>
      <br>
    <li><a class="btn"  href="admin/events">Events</a></li>
    <br>
    <li><a  class="mx-2 btn btn-success"  (click)='back()'>Back</a></li>
    <li style="margin-top: 320%;">
      <a  class="btn btn-danger" *ngIf="authService.isLoggedIn" routerLinkActive="active" (click)="logout()">
        logout</a>
    </li>
</ul> -->
<!-- content -->
<div class="container bootdey">
  <div class="col-md-12">
  <section class="panel">
        <div class="panel-body">
          <h2 style="margin-left: 20%;" class="pro-d-title">
            {{clip.name}}
          </h2>
            <div class="col-md-6">
                <div class="pro-img-details">
                  <br>
                  <iframe id="clipd" style="margin-top: 10%; border: none;" [src]="clip.link | asyncpipe" height="400" width="700" allowfullscreen="true"></iframe>
                </div>
                <br>
            </div>
            <div style="margin-left: 20%;" class="d-flex">
            <p>Created At :{{clip.createdAt | date:'short'}}</p>
            <p style="margin-left: 10%;">Updated At :{{clip.updatedAt | date:'short'}}</p>
          </div>
            <div class="col-md-6">
              <h4>Descriptoion :</h4>
                <p>
                    {{clip.description}}
                </p>
            </div>
        </div>
        <br>
        <br>
    </section>
    </div>
    </div>
