<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<app-head></app-head>
<div id="events" style="align-items: center;" *ngFor="let event of activeEvents.slice().reverse() | filter:term">
<section class="event-card">
  <header class="header">
    <h1 class="heading">{{event.name}}</h1>
    <div class="event-image-wrapper">
      <img *ngIf="event.photo" src="{{event.photo | asyncpipe}}">
    </div>
  </header>
  <div class="event-details">
  </div>

  <br>
  <time class="date">
    <div>{{event.time | date:'short'}}</div>
  </time>
  <div class="header">{{event.description}}</div>
  <br>
  <div class="header" style="font-size: x-large;">Rules :
    <br>
    {{event.rules}}
    <br>
    <br>
  </div>
</section>
  <iframe *ngIf="event.link" class="responsive-iframe" width="60%" height="40%" [src]="event.link | asyncpipe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<br>

<app-footer></app-footer>
