<!-- header-->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<app-head></app-head>
<div style="background-color:grey;">
  <!-- ======= Hero Section ======= -->
  <section id="top-page" class="d-flex align-items-center justify-content-center">
    <div id="about"  class="container">
      <div class="row justify-content-center" style="border: white;">
        <div>
          <h5 class="mx-auto my-0" style="color: white;font: 20;border: blanchedalmond;">
            <strong>Wilkommen auf meiner Website! Ich bin Basti und zocke hauptsächlich EscapeFromTarkov.<br>
            Meine Spielerlebnisse teile ich regelmäßig auf Twitch und anderen social Media Kanälen,
            <br>bleibt also connected um nichts zu verpassen.</strong></h5>
        </div>
      </div>
      <br>
      <br>

    </div>
  </section><!-- End Hero -->
  <br>
  <div style="width:100%;" class="container d-flex justify-content-around" style="display: flex;
    align-items: center;
    flex-wrap: wrap">
    <div class="card" style="width: 70rem;">
      <iframe id="twitchlive" class="change child"
          [src]="'https://player.twitch.tv/?channel=dope_usec&parent=malek-annabi.github.io' | asyncpipe"
          frameborder="0" allowfullscreen="true" scrolling="no" height="500px" width="100%"></iframe>
          </div>
      <div class="card" style="width: 30rem;">
          <iframe id="twitchchat" class="two child"
          [src]="'https://www.twitch.tv/embed/dope_usec/chat?parent=malek-annabi.github.io'| asyncpipe" style="border: none;" height="500px"
          width="100%"></iframe>
          </div>
          </div>
    <br>
    <div style="width:100%;" class="container d-flex justify-content-around" style="display: flex;
    align-items: center;
    flex-wrap: wrap">
        <div class="card" style="width: 70rem;background: none;"> 
        <iframe class="change child" src="https://discord.com/widget?id=732955144618246247&theme=dark" id="discord" height="400px" width="100%" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="card" style="width: 30rem;background: none;"> 
        <a class="twitter-timeline two child" data-lang="en" data-width="100%" data-height="400" data-theme="dark" href="https://twitter.com/BetaEFT?ref_src=twsrc%5Etfw">Tweets by BetaEFT</a>
      </div>  
        </div>
  <br>
  <app-clip></app-clip>
  <br>
</div>
<!-- footer-->
<app-footer></app-footer>
