@media screen and (max-width: 600px) {
   .change {
    float: none;
    margin-right:0;
    min-width: 300px;
    min-height:300px;
  }
}
.two{
  min-width: 300px;
  min-height:300px;
}

.breath
{
    background-color: black;

    animation: 1s infinite alternate ease-out breathing-color--dark;
}

@keyframes breathing-color--dark {
    from
    {
        background-color: black;
    }
    to
    {
        background-color: hsl(0, 0%, 10%);
    }
}
@media screen and (max-width: 600px) {
  * {
    width: 100%;
    height: auto; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #twitchlive{
    width: 100%;
    height: auto;
  }
  #twitchchat{
    margin:none;
    width: 100%;
    height: auto;
  }
  #discord{
    width: 280px;
    height: auto;
  }
}
*{
  max-width: 100%;
}
